<html class="no-js" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <!-- Material design fonts -->
  <link rel="stylesheet" href="dist/css/roboto-font.css" type="text/css">
  <link rel="stylesheet" href="dist/css/material-icons.css" type="text/css">
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="dist/css/roboto.min.css" rel="stylesheet">
  <link href="dist/css/material-fullpalette.min.css" rel="stylesheet">
  <link href="dist/css/ripples.min.css" rel="stylesheet">
  <link href="dist/css/snackbar.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-controller="UserCtrl as user">

  <div id="simple-dialog" class="modal fade" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Add User</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <fieldset>
              <legend>Legend</legend>
              <div class="form-group is-empty">
                <label for="firstName" class="col-md-2 control-label">First name</label>

                <div class="col-md-10">
                  <input type="text"  class="form-control" id="firsName" placeholder="First name" ng-model="usrData.user.firstName">
                </div>
                <span class="material-input"></span>
              </div>
              <div class="form-group is-empty">
                <label for="lastName"  class="col-md-2 control-label">Last name</label>

                <div class="col-md-10">
                  <input type="text"  class="form-control" id="lastName" placeholder="Last name" ng-model="usrData.user.lastName">
                </div>
                <span class="material-input"></span>
              </div>
              <div class="form-group is-empty">
                <label for="userEmail" class="col-md-2 control-label">Email</label>
                <div class="col-md-10">
                  <input type="email"  class="form-control" id="userEmail" placeholder="Email" ng-model="usrData.user.email">
                </div>
                <span class="material-input"></span>
              </div>
              <div class="form-group is-empty">
                <label for="telephone" class="col-md-2 control-label">Telephone</label>
                <div class="col-md-10">
                  <input type="tel"  class="form-control" id="telphone" placeholder="Telephone" ng-model="usrData.user.tel">
                </div>
                <span class="material-input"></span>
              </div>
              <div class="form-group is-empty">
                <label for="telephone" class="col-md-2 control-label">Group</label>
                <div class="col-md-10">
                  <select ng-controller="GroupCtrl" ng-model="usrData.user.parentId[0]">
                    <option  ng-repeat="grp in grpData.list" value="{{grp.iid}}">{{ grp.name}}</option>
                  </select>
                </div>
                <span class="material-input"></span>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="user.saveItem(usrData.user)" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div ng-controller="ItemCtrl" ng-init="ctrlData.currentTab='user'" ng-include="'menu.html'"></div>
    <div class="bs-docs-section clearfix" >
      <div class="container">
        <table class="table  table-hover ">
          <thead>
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Group</th>
            </tr>
          </thead>
          <tbody ng-controller="GroupCtrl">
            <tr ng-repeat="it in usrData.list">
              <td>{{ it.firstName }}</td>
              <td>{{ it.lastName }}</td>
              <td>
                <div ng-switch on="it.parentId.length">
                  <div ng-switch-when="0">
                    <span><strong>N/A</strong></span>
                  </div>
                  <div ng-switch-default>
                    <span ng-repeat="grpId in it.parentId" class="badge">{{ get(grpId).name }}</span>
                  </div>
                </div>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <span class="btn btn-danger btn-fab" data-toggle="modal" data-target="#simple-dialog" ng-click="newUser()" style="position:fixed; right: 20px; bottom:32px;"><i class="material-icons" style="top:0px;">add</i></span>
    </div>

    <!-- <script src="database/data.json"></script> -->
    <script src="dist/js/jquery.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="dist/js/ripples.min.js"></script>
    <script src="dist/js/material.min.js"></script>
    <script src="dist/js/snackbar.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/module/app.js"></script>
    <script src="js/module/utils.js"></script>
    <script src="js/module/model/itemService.js"></script>
    <script src="js/module/controller/itemCtrl.js"></script>
    <script src="js/module/model/Item.js"></script>

  </body>
